[submodule "third_party/parlaylib"]
	path = third_party/parlaylib
	url = git@github.com:cmuparlay/parlaylib.git
[submodule "third_party/nlohmann-json"]
	path = third_party/nlohmann-json
	url = git@github.com:nlohmann/json.git
